{% load static %}
{% load ndr_values %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% translate 'Under Construction' %}</title>
    {% include 'ndr_core/base/base_header_tags.html' %}
</head>
<body class="d-flex flex-column min-vh-100" style="background: url({% static 'ndr_core/images/various/under_construction.png' %}) no-repeat center center fixed; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 style="color: #dad8d8;" class="pt-3">{% translate 'Sorry this page does not exist!' %}</h2>
            </div>
        </div>
    </div>

    <footer class="mt-auto bg-secondary text-center">
        {% translate 'This is an NDR Core installation. You are seeing this page because it has been sto to "under construction".' %}
    </footer>

</body>
</html>